* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    place-items: center;
    padding-bottom: 3rem;
}

header {
    height: 6.125rem;
    padding: 1rem 10rem;
    padding-bottom: 2rem;
    display: flex;
    width: 85rem;
    justify-content: space-between;
    color: #1F1F1F;
}

header p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons p {
    text-decoration: underline;
}

.buttons,
.rightbuttons,
.btn {
    display: flex;
    gap: 1rem;
}

.rightbuttons p:nth-child(2),
.rightbuttons p:nth-child(1),
.btn p:first-child {
    background-color: black;
    padding: 0rem 0.5rem;
    border-radius: 8px;
    color: white;
}

.rightbuttons p:nth-child(1),
.btn p:nth-child(2) {
    background-color: white;
    border: 1px solid grey;
    color: #1F1F1F;

}

.welcome .heading,
.welcome {
    font-size: 3.5rem;
    width: 40rem;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    font-family: Space Grotesk;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.welcome p:nth-child(2) {
    font-size: 16px;
}

.btn {
    width: max-content;
    margin: auto;
}

.btn p {
    font-size: 1rem;
    width: 5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.twopics {
    display: flex;
    gap: 2rem;
    padding: 0rem 10rem;
    width: 85rem;
    margin: auto;
    margin-top: 3rem;

}

.twopics img {
    margin: auto;
    width: 30rem;
}

.headersInterface {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0rem 10rem;
    margin: auto;
    width: 85rem;
    margin-top: 4rem;
    gap: 3rem;

}

.vectorimg,
.buttonGreater {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: baseline;

}

.buttonGreater p:first-child {
    text-decoration: underline;
}

.reason {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85rem;
    margin: auto;
    padding: 0rem 10rem;
    gap: 2rem;
    margin-top: 5rem;
}

.why {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.why p:first-child {
    font-weight: 800;
    font-size: 2rem;
}

.whypics {
    display: flex;
    gap: 0.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    width: 85rem;
    padding: 0rem 10rem;
    margin: auto;
    margin-top: 5rem;
}

.handdownimg img {
    height: 100%;
    width: 100%;
}

.imgs4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.imgs4 img {
    width: 100%;
    height: 100%;
}

.meet-team {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85rem;
    padding: 0rem 10rem;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
}

.meet-team p:first-child {
    font-weight: 800;
    font-size: 2rem;
}

.image-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.avatar-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
    width: 85rem;
    padding: 0rem 10rem;
    margin: auto;
    margin-top: 4rem;
}

.phone-interface {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 85rem;
    margin: auto;
    margin-top: 4rem;
    padding-right: 10rem;
}

.phone-interfaceimg img {
    height: 100%;
    width: 100%;
}

.contactheader {
    width: max-content;
    margin: auto;
    text-align: center;

}

.contactheader h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contacts {
    padding: 1rem;
    padding-top: 4rem;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.input1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.input1 input,
.input2 input,
.subscribenow input {
    outline: none;
    background-color: #F5F5F5;
    border: none;
    height: 2rem;
}

input {
    padding-left: 1rem;
    border-radius: 7px;
}

.input2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
}

.input2 input {
    height: 5rem;
    margin-top: 1rem;
    width: 100%;

}

.submitbutton {
    width: 100%;
    background-color: #1F1F1F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 1.5rem;
    gap: 1rem;
    border-radius: 10px;
}

.logos {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.logos p:first-child,
.logos img:last-child {
    border: 2px solid #1F1F1F;
    padding: 0.4rem;
    border-radius: 7px;
    font-size: 13px;
}

.subscirbe {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
}

.subscribebuttons p {
    font-weight: 700;
    width: max-content;
}

.subscribebuttons p:not(.subscribebuttons p:first-child) {
    text-decoration: underline;
}

.subscribebuttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.subscribenow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.subscribenow button {
    color: white;
    background-color: #1F1F1F;
    padding: 0.5rem;
    border-radius: 8px;
    margin-left: 2rem;
}